[Unit]
Description=Deskradar Configurator Service
After=network-online.target deskradar-bootstrap.service
Wants=network-online.target
Requires=deskradar-bootstrap.service
StartLimitIntervalSec=0
StartLimitBurst=0
StartLimitAction=none

[Service]
Type=simple
WorkingDirectory=/opt/deskradar-pi-services/configurator
ExecStart=/opt/deskradar-pi-services/.venv/bin/python app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target